body {
    background-color: #f7f7f9;
}

.main {
    margin: 10px 100px;
    background: white;
}

.btn-publish {
    float: right;
    margin-bottom: -10px;
    margin-top: -5px;
}

.media-object {
    width: 50px;
    height: 50px;
}

.question-info {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    float: right;
}

.the-question-info {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

hr.division {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-content {
    margin-top: 35px;
}

.question-option {
    font-size: 12px;
    color: #999;
}

.jumbotron {
    padding-left: 80px;
}

.avatar-middle {
    width: 45px;
    height: 45px;
}

.avatar-small {
    width: 35px;
    height: 35px;
}

.avatar-small-name {
    margin-top: 9.5px;
}

.btn-reply {
    margin: 5px 10px 5px;
    float: right;
}

.comment-top {
    margin-top: 20px;
    margin-bottom: 1px;
}

.comment-like {
    margin-left: 4px;
    margin-right: 4px;
}

.comment-button {
    margin-right: 7px;
}

.sub-comment {
    background-color: #f7f7f9;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 10px 5px 0px;
    border: 1px solid #eee;
}

.sub-comment-box {
    margin-left: 15px;
    margin-right: 15px
}

.question-tag {
    margin-bottom: 4px;
}

.question-tag .tag {
    float: left;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 3px;
    color: #fbffff;
}

.tag-division {
    margin-top: 5px;
    margin-bottom: 3px;
}

.relatedQuestion-ul {
    list-style: none;
    font-size: 12px;
    padding-left: 0px;
    line-height: 15px;
}

.relatedQuestion-li {
    margin-bottom: 14px;
}

/**标签库*/
.label-selected {
    width: 100%;
    min-height: 38px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
}

.select-tag {
    float: left;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

.media-heading h4 {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 5px;
}

/**通知铃铛标签*/
.my-message-bell {
    margin: 10px 0px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 0px;
}

.my-message-bell-btn:hover {
    color: #02e1fd;
}

.my-message-bell-btn {
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline;
    line-height: 30px;
    text-align: center;
    color: #03cbe4;
}

.my-badge {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    text-align: center;
    background-color: #fe0505;
    color: #fff;
    border-radius: 10px;
    line-height: 16px;
    margin-left: -2px;
}

/***/
.notification a {
    text-decoration: none;
}

.notification a:hover {
    color: #eb7350;
}

.notification-commenter-name {
    margin: 4px 0 4px 0;
}

.notification-date {
    margin-bottom: 10px;
    line-height: 1.3;
}

.notification-content {
    margin: 0 0 10px;
    padding: 0;
}

.WB_feed_expand {
    cursor: pointer;
}

.WB_expand {
    margin: 0 0 10px;
    background-color: #f2f2f5;
}

.WB_text {
    padding: 2px 20px 2px 20px;
    overflow: hidden;
    line-height: 23px;
    word-wrap: break-word;
    color: #808080;
    text-decoration: none;
}

.S_func1 {
    color: #333;
    text-decoration: none;
}

.S_func1:hover {
    color: #eb7350;
}

/**question页面*/
.comment-reply {
    float: right;
    padding: 0 5px;
    margin-right: 15px;
    cursor: pointer;;
    color: #99a2aa;
}

.comment-reply:hover {
    text-decoration: none;
    color: #1890ff;
}

.comment-user-name {
    color: #6d757a;
    font-size: 14px;
    cursor: pointer;
}

.comment-user-name:hover {
    color: #1890ff;
}

.reply-area {
    margin-top: 20px;
    margin-bottom: 5px;
    padding-right: 30px;
}

.reply-input {
    padding-top: 8px;
    padding-bottom: 6px;
}
