<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${questionDTO.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/editormd.preview.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/moment.min.js" type="application/javascript"></script>
    <script src="/js/editormd.js"></script>
    <script src="/lib/marked.min.js"></script>
    <script src="/lib/prettify.min.js"></script>
</head>
<body>
<div th:insert="~{header :: h}"></div>
<div class="container-fluid main">
    <div class="row">
        <!--页面左侧-->
        <div class="col-lg-9 col-ms-12 col-sm-12 col-xs-12">
            <!--问题-->
            <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12">
                <h4><span th:text="${questionDTO.title}"></span></h4>
                <span class="the-question-info">
                &nbsp;&nbsp;作者&nbsp;:&nbsp;<span th:text="${questionDTO.user.name}"></span>
                &nbsp;|&nbsp;发布于&nbsp;：&nbsp;<span
                        th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                &nbsp;|&nbsp;阅读数&nbsp;:&nbsp;<span th:text="${questionDTO.viewCount}"></span>
                </span>
                <hr class="division">
                <!--标签-->
                <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12 question-tag">
                        <span class="label label-info tag" th:each="tag:${questionDTO.tags}">
                            <span class="glyphicon glyphicon-tags"></span>
                            <span th:text="${tag.getTagName()}"></span>
                        </span>
                </div>
                <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea style="display:none;" th:text="${questionDTO.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var testView = editormd.markdownToHTML("question-view", {});
                    });
                </script>
                <hr class="tag-division ">
                <!--编辑-->
                <a th:href="@{'/publish/'+${questionDTO.id}}" class="question-option"
                   th:if="${session.user!=null&&session.user.id==questionDTO.creator}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    编辑
                </a>
            </div>
            <!--评论列表-->
            <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12">
                <h4 class="comment-top">
                    <span th:text="${questionDTO.commentCount}"></span>
                    个回复
                </h4>
                <hr style="margin-top:9px;margin-bottom:15px;">
                <!--回复框,登录状态才显示-->
                <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12" th:if="${session.user!=null}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="avatar-small img-circle" th:src="${session.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="avatar-small-name">
                                <span th:text="${session.user.name}"></span>
                            </h5>
                        </div>
                        <hr class="division">
                    </div>
                    <textarea id="commentContent" class="form-control" rows="3"></textarea>
                    <input id="questionId" type="hidden" th:value="${questionDTO.id}">
                    <button type="button" class="btn btn-success btn-sm btn-reply" onclick="comment()">评论</button>
                </div>
                <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12" th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=751da1a087d0187c3619&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>后可回复
                </div>
                <!--多条回复-->
                <div id="comment-container" class="col-lg-12 col-ms-12 col-sm-12 col-xs-12">
                    <div class="media" th:each="comment:${commentDTOS}">
                        <div class="media-left">
                            <a href="#">
                                <img class="avatar-small img-circle" th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>
                            <div>
                                <button type="button" class="btn btn-default btn-xs comment-button">
                                    <span class="glyphicon glyphicon-thumbs-up comment-like"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs comment-button"
                                        th:data-id="${comment.id}" onclick="collapseComments(this)">
                                    <span class="glyphicon glyphicon-comment comment-like"
                                          th:text="${comment.commentCount}">
                                </span>
                                </button>
                                <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"
                                      style="float: right;"></span>
                            </div>
                            <!--二级回复区-->
                            <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12 sub-comment collapse"
                                 th:id="${'comment-'+comment.id}">
                                <div class="row">
                                    <div class="sub-comment-box">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Reply..."
                                                   th:id="${'reply-'+comment.id}">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" th:data-id="${comment.id}"
                                                    onclick="reply(this)">回复</button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="division">
                    </div>
                </div>
            </div>
        </div>
        <!--页面右侧-->
        <div class="col-lg-3 col-ms-12 col-sm-12 col-xs-12">
            <!--问题发起人信息-->
            <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${questionDTO.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${questionDTO.user.name}"></span>
                        </h5>
                    </div>
                    <hr class="division">
                </div>
            </div>
            <!--相关问题-->
            <div class="col-lg-12 col-ms-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="relatedQuestion-ul">
                    <li th:each="question:${relatedQuestions}" class="relatedQuestion-li">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>